@import '../../component/Color.scss';

.product,
.customer,
.staff,
.console,
.order {
  width: initial;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.795);
  display: flex;

  .mainProduct,
  .mainCustomer,
  .mainConsole,
  .nav,
  .createProduct {
    padding: 0;
    margin: 0;
    background-color: map-get($map: $bg-colors, $key: "white");
    width: 85%;
    height: auto;
    overflow-y: scroll;
  }
  .nav {
    background-color: rgb(255, 48, 48);

    width: 15%;
    height: auto;

    &__headerNav {
      padding: 10px 0 10px 0;
      border-bottom: 1px solid #fff;
      text-align: center;

      img {
        width: 20%;
        height: 20%;
        border-radius: 50%;
      }

      h4,
      span {
        color: #fff;
      }

      h4 {
        margin-block-start: .2em;
        margin-block-end: .2em;
      }
    }

    &__headerMenu {
      padding: 0 10px;
      list-style: none;

      li,
      
      .li_signout {
        cursor: pointer;
        width: 80%;
        height: 30px;
        margin: 0 auto;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;
        margin-top: 15px;
        border: 1px solid rgba(255, 255, 255, 0.496);

        .iconMenu,
        .textMenu {
          color: #fff;
          font-size: 13px;
          text-align: center;
        }

        .iconMenu {
          width: 20px;
          height: 20px;
        }

        .textMenu {
          font-weight: 600;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
        }
      }
      .li_signout:hover{
        color: #000;
      }

      .li_index_0
       {
        background-color: #fff;
        box-shadow: 1px 4px 3px 2px rgba(0, 0, 0, 0.196);

        .iconMenu,
        .textMenu {
          color: #000;
          font-size: 13px;
          text-align: center;
        }
      }
      .li_signout:hover{
        color: #000;
      }

      li:active {
        box-shadow: 1px 4px 3px 2px rgba(255, 255, 255, 0.196);

        .iconMenu,
        .textMenu {
          color: #000;
          font-size: 13px;
          text-align: center;
        }
      }

      li:hover,
      .li_signout:hover {
        background-color: #fff;
        .iconMenu,
        .textMenu {
          color: #000;
          font-size: 13px;
          text-align: center;
        }
      }
      .li_signout:hover{
        // color: #000;
        span{
          color: #000;
        }
      }
    }

  }

  .mainProduct,
  .mainCustomer,
  .createProduct,
  .mainConsole {
    position: relative;
    // background-color: #6edc8b;
    background-color: #ebebeb;
    padding: 10px 5px;

    &__title {
      width: 95%;
      height: 30px;
      margin: 0 auto;

      padding: 4px 10px;
      background-color: map-get($map: $bg-colors, $key: "white");
      border-radius: 6px;
      border-left: 3px solid orange;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .span_title {
        font-size: 13px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
      }
    }

    &__cardButton {
      width: 95%;
      height: 30px;
      margin: 0 auto;
      padding: 6px;
      background-color: map-get($map: $bg-colors, $key: "white");
      border-radius: 6px;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: start;

      .button {
        width: auto;
        height: auto;
        padding: 3px 5px;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        font-size: 12px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #2011cb4a;
        border-radius: 6px;
        // border: .5px solid #fff;
      }

      .iconButton {
        font-size: 12px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
      }
    }

    &__filterableProductTable {
      width: 95%;
      height: auto;
      margin: 0 auto;
      padding: 6px;
      // background-color: #cecece;
      background-color: map-get($map: $bg-colors, $key: "white");
      border-radius: 6px;
      margin-top: 5px;

      .quantityItem {
        width: 100%;
        height: 30px;
        margin: 0 auto;
        padding: 6px 0;
        // background-color: map-get($map: $bg-colors, $key: "white");
        border-radius: 6px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .qualityProduct {
          width: 20%;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: space-around;

          font-size: 13px;
          font-weight: 600;
          font-family: Arial, Helvetica, sans-serif;
          color: #000;

          .qualityProductSel {
            width: 60%;
            height: 100%;
            border-radius: 4px;

            background-color: rgba(255, 255, 255, 0.795);
          }
        }

        .search {
          width: 16%;
          height: 100%;
          border-radius: 6px;
          border: 1px solid #8e8e8e;
          padding: 2px 3px;
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: space-around;

          font-size: 13px;
          font-weight: 600;
          font-family: Arial, Helvetica, sans-serif;
          color: #000;

          .searchInput {
            width: 70%;
            height: 80%;
            border-radius: 4px;
            background-color: #e8e8e8;
            border: none;
          }
        }
      }

      .productTable,.consoleTable {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 8px;
        margin-top: 5px;
        text-align: center;

        thead {
          width: 100%;
          height: auto;
          background-color: #a7a7a7;

          th {
            width: 10%;
            height: 40px;
            border: 1px solid #3b3b3bef;
          }
        }
        .loader {
          text-align: center;
          padding: 2rem;
          .spinner {
            width: 3rem;
            height: 3rem;
            border: 5px solid #eee;
            border-top-color: #666; 
            border-radius: 50%;
            animation: spin 2s linear infinite;
          }
        }
        
        @keyframes spin {
          to { transform: rotate(360deg); }
        }
        tbody {
          width: 100%;
          height: auto;

          td {
            width: 10%;
            height: 30px;
            background-color: #f3f3f3;
            border: 1px solid #9f9f9fef;
            padding: 10px;

            .action {
              width: 80%;
              height: 80%;
              margin: 0 auto;
              padding: 10px 0;

              display: flex;
              align-items: center;
              justify-content: center;
            }
            .image{
              width: 50px; height: auto;
            }
          }
        }
      }
    }

    &__report{
      width: 95%;
      height: 80px;
      margin: 0 auto;

      padding: 4px 10px;
      // background-color: map-get($map: $bg-colors, $key: "white");
      border-radius: 6px;
      border-left: 3px solid orange;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .reportCutomer{
        width: 35%;
        height: 80px;
        background-color: map-get($map: $bg-colors, $key: "white");
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        border-radius: 10px;

        .reportCutomerText{
          width: 60%;
          height: 80px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          .reportCutomerText-h2,.reportCutomerText-h3{
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }
      }
    }
    // display: none;

    /*=========Phần dưới là phần css cho nội dung khi bấm vào nút thêm mới sản phẩm===========*/

    &__content {
      position: relative;
      width: 95%;
      height: 85vh;
      margin: 0 auto;
      padding: 6px;
      background-color: map-get($map: $bg-colors, $key: "white");
      border-radius: 6px;
      margin-top: 5px;

      .textLableField {
        width: 20%;
        height: 60px;
        padding: 3px 5px;

        .lableField {
          font-size: 13px;
          font-weight: 600;
          font-family: Arial, Helvetica, sans-serif;
          // color: #ff7d7d;
          color: #000;
        }

        .textField,
        .selectName {
          padding-block: 0;
          padding-inline: 0;
          margin-top: 5px;
          width: 100%;
          height: 30px;
          border: none;
          border-radius: 6px;
          background-color: #c5c5c5a8;
          // text-align: center;
        }
      }

      ._lableTextField {
        padding: 20px 0 10px 0;
      }

      ._buttonField {
        position: absolute;
        bottom: 5px;
        left: 10px;
      }
    }
    .consoleTable{
      width: 95%;
      height: 60px;
      margin: 0 auto;
      padding: 4px 10px;
      border: 1px solid #3d3d3d;
      text-align: center;

      thead {
        width: 100%;
        height: auto;
        background-color: #a7a7a7;

        th {
          width: 10%;
          height: 40px;
          border: 1px solid #3b3b3bef;
        }
      }

      tbody {
        width: 100%;
        height: auto;

        td {
          width: 10%;
          height: 30px;
          background-color: #f3f3f3;
          border: 1px solid #9f9f9fef;

          .action {
            width: 80%;
            height: 80%;
            margin: 0 auto;
            padding: 10px 0;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  //Css cho phần onClick vào thêm mới nhà cung cấp, tác giả, lĩnh vực, tình trạng*/
  .createProduct {
    &__modal {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #00000089;

      display: flex;
      align-items: center;
      justify-content: center;

      .modalDialog {
        width: 30%;
        height: 60vh;
        background-color: #fff;
        padding: 10px;
        border-radius: 6px;
        z-index: 1;
        position: relative;

        .modalTitle {
          width: 100%;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .textLableFieldModal {
          width: 100%;
          height: auto;
          margin: 10px 0;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          .textFieldModal {
            width: 90%;
            height: 40px;
          }

          .lableFieldModal {
            font-size: 13px;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
            text-align: center;
            margin: 10px 0
          }
        }
        .ulItem{
          overflow-y: scroll;
          height: 30vh;
        }
        ._buttonModal {
          position: absolute;
          width: 90%;
          margin: 0 auto;
          height: auto;
          bottom: 5px;
          left: 5px;
        }
      }
    }
  }
}

@import '../../component/Responsive.scss';